body{
     height: 100%;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
}

header{
     background-color: #EDEBDF;
     height: 100px;
}

.logo{
     width: 70%;
     margin: auto;
     text-align: right;
     padding-top: 10px;
}

.logo img{
     width: 70px;
}

.logo span{
     float: right;
     font-size: 30px;
     font-weight: bolder;
     padding-top: 20px;
     padding-left: 5px;
}

h1{
     font-size: 30px;
     margin: 50px 0;
     text-align: center;
}

.content{
     width: 60%;
     margin: auto;
}


.detail-section{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}

.customer-details{
     width: 50%;
     box-sizing: border-box;
     padding: 20px 40px;
}

.customer-details label{
     font-size: 20px;
}

.customer-details input{
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border-radius: 4px;
}

.customer-details select{
     box-sizing: border-box;
     padding: 12px 20px;
     margin: 8px 10px;
     border-radius: 4px;
}

hr{
     color: #000;
     margin: 50px 0;
}

h2{
     padding-left: 20px;
}

.payment-details{
     padding: 20px 40px;
}

.payment-button{
     background-color: white;
     color: dimgray;
     font-size: 17px;
     border: 2px solid dimgray;
     text-transform: uppercase;
     border-radius: 3px;
     margin: 0 10px;
     padding: 10px 25px;
}

.div-button{
     width: 30%;
     margin: auto;
     text-align: center;
     padding-top: 10%;
     padding-bottom: 20%;
}

.continue-button{
     background-color: white;
     color: dimgray;
     font-size: 20px;
     border: 2px solid dimgray;
     text-transform: uppercase;
     border-radius: 3px;
     padding: 10px 25px;
}

h2{
     padding-top: 20px;
     padding-left: 20px;
}

.details{
     padding-left: 20px;
     padding-top: 20px;
     font-size: 17px;
}

.details p span{
     font-weight: bold;
     font-size: 20px;
}

.price-section{
     margin: 80px 0;
     font-size: 25px;
     display: flex;
     flex-direction: row;
}

.price-heading{
     width: 50%;
     text-align: left;
}

.price{
     width: 50%;
     text-align: right;
     font-weight: bold;
}