<!DOCTYPE html>
<html>
     <head>
          <title>CAR-SIZE</title>
          <link rel="icon" href="images/logo.svg">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <link rel="stylesheet" type="text/css" href="css/car-repair.css">

          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
          <script type="text/javascript" src="js/main.js"></script>
     </head>
     <body ng-app="myApp" ng-controller="mainCtrl">
          <header>
               <div class="logo">
                    <img src="images/logo.svg">
                    <span>GaragePlug</span>
               </div>
          </header>

          <section class="content">
               <h1>CAR SIZE</h1>

               <div class="main">
                    <div class="card" ng-repeat="data in size_data">
                         <div class="card-img" ng-click="select_size(data.id)" ng-if="data.id != size" style="background-color: #F3F3F3;">
                              <img ng-src="images/{{ data.image }}">
                         </div>
                         <div class="card-img" ng-click="select_size(data.id)" ng-if="data.id == size" style="background-color: #909497;">
                              <img ng-src="images/{{ data.image }}">
                         </div>
                         <span> {{ data.name }} </span>
                    </div>
               </div>

               <div class="div-button">
                    <button class="continue-button" ng-click="size_redirect()">Continue</button>
               </div>
          </section>
     </body>
</html>